<div class="header">
    <div class="brand">Pokémon SDK Wiki</div>
    <ul class="site_links">
        <li><a href="fr/index.html">Accueil</a></li>
        <li>
            <details class="dropdown">
                <summary>Tutoriels</summary>
                <div>
                    <a href="fr/event_making/index.html">Event Making</a>
                    <a href="fr/ruby_host/index.html">Edition BDD</a>
                </div>

								
            </details>

        </li>
        <li>
            <details class="dropdown">
                <summary>Gérer PSDK</summary>
                <div>
                    <a href="fr/manage/install.html">Installer PSDK</a>
                    <a href="fr/manage/build-under-linux.html">Compiler PSDK sous Linux</a>
										<a href="fr/manage/configure.html">Configurer PSDK</a>
										<a href="fr/manage/install-script.html">Installer un script</a>
                </div>

								
            </details>

        </li>
				<li>
						<details class="dropdown">
								<summary> Programmation </summary>
                <div>
                    <a href="fr/programming/index.html">A propos</a>
                    <a href="fr/programming/hdiw/index.html">Comment ça fonctionne ?</a>
                    <a href="fr/programming/hdiw/ui.html">Système d'UI de PSDK</a>
                </div>
						</details>
				</li>
    </ul>
    <div class="credits"><a href="en/./credits.html">Crédits</a></div>
</div>