section.wiki article pre {
    background-color: rgb(37, 37, 37);
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    overflow: auto;
    color: lightgray;
}

section.wiki article pre .k {
    color: mediumpurple;
}

section.wiki article pre .kp {
    color: royalblue;
}

section.wiki article pre .nc {
    color: mediumseagreen;
}

section.wiki article pre .o,
section.wiki article pre .ss,
section.wiki article pre .p {
    color: lightgray;
}

section.wiki article pre .mi {
    color: lightgreen;
}

section.wiki article pre .s1,
section.wiki article pre .s2,
section.wiki article pre .s3 {
    color: coral;
}

section.wiki article pre .no,
section.wiki article pre .nb,
section.wiki article pre .vi,
section.wiki article pre .n {
    color: lightskyblue;
}

section.wiki article pre .si {
    color: royalblue;
}

section.wiki article pre .nf {
    color: khaki;
}

section.wiki article pre .vg {
    color: lightskyblue;
}

section.wiki article pre .c1,
section.wiki article pre .c2,
section.wiki article pre .c3 {
    color: green;
}
